@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Variables */

:root {
  --font-family: "Poppins", sans-serf;
  --secondary-font: "Lato", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #0b2320;
  --primary-color: #ffffff;
  --secondary-color: #dd5d32;
  --primary-shadow: #3fb2bd;
  --secondary-shadow: #101010;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --font-color-primary: #ffffff;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-alert {
  color: #ec7804;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--font-color-primary);

}

/* Navbar */

nav {
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
  text-decoration: none;
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-family: var(--secondary-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
  z-index: -100;
}

/* Hero section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  padding-bottom: 50px;
}

.hero img {
  padding-top: 20px;
  height: 22.5rem;
  width: auto;
  max-width: 100%;
}

@media (max-width: 320px) {
  .hero img {
    width: 20rem;
  }
}

.bio {
  width: 25rem;
  padding: 2rem;
  border-radius: 0px;
  border: 5px solid var(--primary-shadow);
  transition: border 0.3s ease;
}

.bio:hover {
  border: 5px solid var(--secondary-color);
} 

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

/* More about */

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

/* Skills section */

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

/* Projects section */

#projects {
  padding-top: 2rem;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  /* margin-top: 1rem; */
  display: flex;
  justify-content: space-between;

}

.project-pic {
  width: 95%;
  height: 90%;
  border: solid 2px rgb(209, 225, 219);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-container:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px var(--primary-shadow);
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
  color:black;
}

.project-details {
  margin-bottom: var(--bottom-margin);
  color: black;
  background-color: rgb(209, 225, 219);
}

.checkbtn {
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 10px;
  border: none;
}

/* Contacts section */

.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  text-align: center;
  max-width: 37rem;
  margin: 0 auto;
  padding: 0.938rem;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/* Contact From NEW */

.contact-page-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #0b2320;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

button[type="submit"] {
  background-color: var(--bg-color);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ec7804;
}

/* Social buttons */

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

/* Scroll to top button */

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

/* Footer section */

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

/* General (utilities) */

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  border: solid 4px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */

@media screen and (max-width: 1080px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  
  }

  nav ul.show {
    transform: translateX(0);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    padding-bottom: 20px;
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
    padding: 50px;
  }

  .hero img {
    height: auto;
    width: 30rem;
  }

  .bio {
    margin-top: 2rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: auto;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }
  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
